# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
.idea/
*.iml

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android related
android/.gradle/
android/app/build/

# iOS related
ios/Pods/
ios/.symlinks/